<footer class="page-footer">
        <div class="container">
	    <div>
		    The contents of this wiki are freely available licensed via a <a href="http://creativecommons.org/licenses/by/3.0/" class="deep-purple-text text-lighten-3">Creative Commons Attribution 3.0 Unported License</a>.
            </div>
        </div>
   <div class="footer-copyright">
        <div class="container">
            <div>
		    <a href="https://www.calconnect.org/about/policies/copyright-licensing" class="deep-purple-text text-lighten-3">Copyright © The Calendaring and Scheduling Consortium</a>.
	    </div>
        </div>
    </div>
</footer>
