{% for page in pages %}
    {% assign subpages = site.pages | where: "parent", page.id | sort: "order" %}
    {% if page.title == pageMainParrent %}
        {% for subpage in subpages %}
            {% assign content_size = subpage.content | strip | size %}
                <li>
                    {% if content_size == 0 %}
                        <a href="#">{{ subpage.title }}</a>
                    {% else %}
                        <a href="{{ subpage.url }}" class="{% if currentPageUrl contains subpage.url %}active{% endif %}">{{ subpage.title }}</a>
                    {% endif %}
                </li>
        {% endfor %}
    {% endif %}
{% endfor %}
