<ol>
    {% for page in loopPages %}
        {% if page.path contains '_appendixes' %}
            {% assign subpages = site.appendixes | where: "parent", page.id | sort: "order" %}
        {% else %}
            {% assign subpages = site.pages | where: "parent", page.id | sort: "order" %}
        {% endif %}

        {% if page.title == currentMainParent %}
            {% for subpage in subpages %}
                {% assign content_size = subpage.content | strip | size %}
                    {% if content_size > 0 %}
                        <li>
                            <a href="{{ subpage.url }}" class="{% if currentPageUrl contains subpage.url %}active{% endif %}">{{ subpage.title }}</a>
                        </li>
                    {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ol>
