{% if page.mainParent == 'Appendixes' %}
    {% assign loopPages = site.appendixes | sort: "order" %}
{% else %}
    {% assign loopPages = include.pages | sort: "order" %}
{% endif %}

{% for page in loopPages %}
{% if page.parents contains page.url %}active{% endif %}
    {% assign content_size = page.content | strip | size %}
    {% if include.currentMainParent == page.mainParent %}

        {% assign pageChilds = page.childs | split:',' %}
        {% for pageChild in pageChilds %}
            {% assign pageChildStripped = pageChild | downcase | remove: " " %}
            {% assign currentPageTitleStripped = currentPageTitle | downcase | remove: " " %}
            {% if pageChildStripped == currentPageTitleStripped %}
                {% assign activeParent = true %}
                {% break %}
            {% else %}
                {% assign activeParent = false %}
            {% endif %}
        {% endfor %}

        {% assign subpages = site.pages | where: "parent", page.id | sort: "order" %}
        <li class="{% if subpages.size > 0 %}expandable{% endif %} {% if currentPageUrl contains page.url %}active{% endif %} {% if activeParent %}active{% endif %}">
            {% if include.level %}
                {% if content_size == 0 %}
                    <div><span>{{ page.title }}</span></div>
                {% else %}
                    <a href="{{ page.url }}" class="{% if currentPageUrl contains page.url %}active{% endif %}">{{ page.title }}</a>
                {% endif %}
            {% endif %}

            {% if  page.mainParent == 'Appendixes' %}
                {% if content_size != 0 %}
                    <a href="{{ page.url }}" class="{% if currentPageUrl contains page.url %}active{% endif %}">{{ page.title }}</a>
                {% endif %}
                
            {% endif %}

            {% if subpages.size > 0 %}
                <ul class="menu nav">
                    {% include toc-sidebar.html pages=subpages currentMainParent=page.mainParent level="secondary" %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
