---
layout: default
---
<div class="container container-columns">
    <div class="container-content">
        <ol class="breadcrumb">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            {% if page.mainParent != 'Appendixes' %}
                <li><a href="/Table-of-Contents">Table of Contents</a></li>
            {% endif %}
            {% assign pageParents = page.parents | split:';' %}
            {% for parent in pageParents %}
                {% assign pageParentsDetails = parent| split:':' %}
                <li><a href="{{pageParentsDetails[1]}}">{{pageParentsDetails[0]}}</a></li>
            {% endfor %}
        </ol>

        {% if content.size != 1 %}
            {{ content }}
        {% else %}
            For information on {{page.title}} see:
            {% assign currentMainParent = page.mainParent %}

            {% if page.title == 'Appendixes' %}
                {% assign loopPages = site.appendixes | where: "parent", "/" | sort: "order" %}
            {% else %}
                {% assign loopPages = site.pages | where: "parent", "/" | sort: "order" %}
            {% endif %}

            {% include toc-mainPage-placeholder.html loopPages=loopPages currentMainParent=currentMainParent %}
        {% endif %}

    </div>
    <div class="container-sidebar">
        {% if page.mainParent == 'Appendixes' %}
            <span class="mobile-title">Appendixes</span>
        {% else %}
            <span class="mobile-title">Table of Contents</span>
        {% endif %}

        <ul class="menu-sidebar">
            {% assign currentPageUrl = page.url %}
            {% assign currentPageTitle = page.title %}
            {% assign pages = site.pages | where: "parent", "/" | sort: "order" %}
            {% include toc-sidebar.html pages=pages currentPageUrl=currentPageUrl currentMainParent=page.mainParent currentPageTitle=currentPageTitle%}
        </ul>
    </div>
</div>
