---
layout: default
---
<div class="container">
   <h1>Table of Contents</h1>

    {{ content }}

</div>

<div class="container">
  <ol>
  {% assign pages = site.pages | where: "parent", "/" | sort: "order" %}
  {% include toc-entry.html pages=pages level=false %}
  </ol>
</div>
<div class="container">
  <h2>Appendixes</h2>
  <ol>
    {% assign appendixes = site.appendixes | sort: "order" %}
    {% for appendix in appendixes %}
        {% if appendix.title != 'Appendixes' %}
            <li><a href="{{ appendix.url }}">{{ appendix.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ol>
</div>
